<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

</head>
<body>
    <div ng-app='myModel' ng-controller='adminController'>
        <nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="#">動感校園</a></div>
                <ul class="nav navbar-nav">
                    <li><a href="#" ng-click="showItemlist()">項目列表</a></li>
                    <li><a href="#" ng-click="addItem()">創建項目</a></li>
                    <li><a href="#" ng-click="showMsg()">訊息</a></li>
                    <li class="active"><a href="#" ng-click="userList()">用戶列表</a></li>
                    <li><a href="#" ng-click="showresource()">資源</a></li>
                </ul>
                <div class="navbar-right">
                    <button class="btn" style="font-weight: 700; float: right; background-color: transparent; border-color: #33a6cc; color:#33a6cc" ng-click="Logout()">登出</button>
                </div>
            </div>
        </nav>
        <div class="modal fade" id="warningModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:red">Warning</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>你確定要刪除用戶<label ng-bind="deleteActivity.name"></label>麼？</p>
                        <p>此操作不可撤回</p>
                        <p ng-show="showerror">錯誤，請聯繫管理員</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="deleteUser(deleteActivity)">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="initialModal" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:red">Warning</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>你確定要初始化麼？</p>
                        <p>此操作不可撤回</p>
                        <p ng-show="showerror">錯誤，請聯繫管理員</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="initializeUser()">Confirm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <h1>用戶列表</h1>
            <button class="btn" style="font-weight: 700; float: right; background-color: transparent; border-color: #33a6cc; color:#33a6cc;float:right;" data-toggle="modal" data-target="#initialModal">初始化</button>
            <button class="btn" style="font-weight: 700; float: right; background-color: transparent; border-color: #33a6cc; color:#33a6cc;float:right;" ng-click="isUpdateUser=!isUpdateUser">更新電郵</button>
            <table class='table table-bordered'>
                <tr>
                    <th>刪除</th>
                    <th>狀態</th>
                    <th>用戶姓名</th>
                    <th>用戶電郵</th>
                    <th>用戶密碼</th>
                </tr>
                <tr ng-repeat='user in users'>
                    <td><button class="btn btn-default" ng-click="showWarningDialog(user)" data-toggle="modal" data-target="#warningModal"><i class="glyphicon glyphicon-trash"></i></button></td>
                    <td><a  href="#" ng-click="setactive(user)" ng-show="!(user.status==='active')">Set Active</a><a href="#" ng-show="(user.status==='active')" ng-click="setdecline(user)">Set decline</a></td>
                    <td ng-show="isUpdateUser">
                        <form name="updateUserForm">
                            <input type="text" ng-model="user.name" placeholder="Input your name" required>
                        </form>
                    </td>
                    <td ng-show="!isUpdateUser"><a href="#" ng-bind="user.name" ng-click="selectUser(user)"></a></td>
                    <td ng-show="isUpdateUser">
                        <form name="updateUserForm">
                            <input type="email" ng-model="user.email" placeholder="Input your email" required>
                        </form>
                    </td>
                    <td ng-bind="user.email" ng-show="!isUpdateUser"></td>
                    <td ng-show="isUpdateUser">
                        <form name="updateUserForm">
                            <input type="text" ng-model="user.password" placeholder="Input your password" required>
                            <button class="btn btn-default" ng-click="updateUser(user)" ng-disabled="updateUserForm.$invalid"><i class="fa fa-repeat"></i></button>
                        </form>
                    </td>
                    <td ng-bind="user.password" ng-show="!isUpdateUser"></td>
                </tr>
            </table>
            <button type="button" class="btn btn-default" ng-click="adduser()"><i class="fa fa-plus"></i></button>
            <form name="newUserForm" ng-show="showAddForm">
                <div class="form-group">
                    <input ng-model='newuser.username' placeholder='用戶姓名' type="text"/>
                    <input ng-model="newuser.email" placeholder="用戶電郵" type="email" required>
                    <input ng-model='newuser.password' placeholder='用戶密碼'/>
                    <a href="#" ng-click="randomPassword()">隨機密碼</a>
                    <button ng-click="autoCheck()">Auto check</button>
                    <button class="btn" type="submit" style="background-color: transparent; color: green; border-color: green;" ng-click="submit()" ng-disabled="newUserForm.$invalid">確定</button>
                    <button class="btn" style="background-color: transparent; border-color:black;" ng-click="cancel()">取消</button>
                </div>
            </form>
        </div>
    </div>

    <script>
    var app = angular.module("myModel", ["ngCookies"]);
    app.controller("adminController", function($scope, $window, $http, $cookies) {
        $scope.isUpdateUser = false;
        $scope.showAddForm = false;
        $scope.deleteActivity = {};
        $scope.showerror = false;
        $http.post('/admin/users', {})
        .then(function(response) {
            // console.log(response);
            if (response.data.feedback === 'Success') {
                $scope.users = response.data.data;
            }
            else {
                $window.location.href = '/login.html';
            }
        });
        $scope.showresource = function() {
            $window.location.href = "/adminAlbum.html";
        }
        $scope.autoCheck = function() {
            var reg = /[^a-zA-Z0-9\u4E00-\u9FCC]/g;
            $scope.newuser.username = $scope.newuser.username.replace(reg, "");
            $scope.newuser.password = $scope.newuser.password.replace(reg, "");
        }
        $scope.selectUser = function(user) {
            $window.location.href = '/profile.html?' + user._id;
        }
        $scope.adduser = function() {
            $scope.showAddForm = !$scope.showAddForm;
            $scope.newuser = {username:'', password:'', email: ''};
        }
        $scope.randomPassword = function() {
            var stringLength = 8;
            var pattern = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
            $scope.newuser.password = "";
            for (var i = 0; i < stringLength; i++) {
                var rnum = Math.floor(Math.random() * pattern.length);
                $scope.newuser.password += pattern.charAt(rnum);
            }
        }
        $scope.showWarningDialog = function(user) {
            // console.log(user);
            $scope.deleteActivity = user;
        }
        const check_valid = function(stringInput) {
            var pattern = /^[a-zA-Z0-9\u4E00-\u9FCC]*$/;
            if (stringInput.match(pattern) != null && stringInput.length != 0) {
                return true;
            }
            else {
                return false;
            }
        }
        $scope.initializeUser = function() {
            $http.post("/admin/initialize", {}).then(function(response) {
                // console.log(response);
                if (response.feedback === 'Success') {
                    $window.location.reload();
                }
                else {
                    $window.location.reload();
                }
            });
        }
        $scope.submit = function() {
            console.log('click submit');
            if (check_valid($scope.newuser.username) && check_valid($scope.newuser.password)) {
                $http.post('/users', {
                    type: 'user',
                    name: $scope.newuser.username,
                    email: $scope.newuser.email,
                    password: $scope.newuser.password
                }).then(function submitSuccess(response) {
                    console.log(response);
                    if (response.data.feedback.feedback === 'Success') {
                        $window.location.reload();
                    }
                    else {
                        $scope.cancel();
                    }
                });
            }
            else {

            }
        }
        $scope.cancel = function() {
            $window.location.reload();
        }
        $scope.userList = function() {
            $window.location.href = '/adminUser.html';
        }
        $scope.showItemlist = function() {
            $window.location.href = "/admin.html";
        }
        $scope.showMsg = function() {
            $window.location.href = "/adminMsg.html";
        }
        $scope.deleteUser = function(user) {
            $http.post('/admin/user/delete/' + user._id, {})
            .then(function(response) {
                if (response.data.feedback === 'Success') {
                    $window.location.reload();
                }
                else {
                    $showerror = true;
                }
            });
        }
        $scope.addItem = function() {
            $window.location.href = "/item.html";
        }
        $scope.Logout = function() {
            $http.post('/users/logout', {})
            .then(function logoutSuccess(response) {
                // console.log(response);
                $cookies.remove('uid');
                $window.location.href = '/login.html';
            });
        }
        $scope.setactive = function(user) {
            $http.post('/admin/user/update/'+user._id,
            {
                status: 'active'
            }).then(function(response) {
                // console.log(response);
                if (response.feedback === 'Success') {
                    $window.location.reload();
                }
                else {
                    $window.location.reload();
                }
            })
        }
        $scope.setdecline = function(user) {
            $http.post('/admin/user/update/'+user._id,
            {
                status: 'decline'
            }).then(function(response) {
                // console.log(response);
                if (response.feedback === 'Success') {
                    $window.location.reload();
                }
                else {
                    $window.location.reload();
                }
            })
        }
        $scope.updateUser = function(user) {
            $http.post("/admin/user/update/" + user._id,
            {
                name: user.name,
                email: user.email,
                password: user.password
            }).then(function(response) {
                // console.log(response);
                if (response.feedback === "Success") {
                    $window.location.reload();
                }
                else {
                    $window.location.reload();
                }
            });
        }
    })
    .directive('specialCharDirective', function() {
        function link(scope, elem, attrs, ngModel) {
            ngModel.$parsers.push(function(viewValue) {
                var reg = /^[a-zA-Z0-9 \u4E00-\u9FCC]*$/;
                if (viewValue.match(reg)) {
                    return viewValue;
                }
                var transformedValue = ngModel.$modelValue;
                ngModel.$setViewValue(transformedValue);
                ngModel.$render();
                return transformedValue;
            });
        }

        return {
            restrict: 'A',
            require: 'ngModel',
            link: link
        };
    });
    </script>
</body>
</html>
