<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

</head>
<body>
    <div ng-app="userModel" ng-controller="itemlistController">
        <nav class="navbar navbar-inverse bg-inverse">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="#">ActiveSchool</a></div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" ng-click="showItemlist()">Activity list</a></li>
                    <li><a href="#" ng-click="addItem()">New Activity</a></li>
                    <li><a href="#" ng-click="userList()">Users</a></li>
                </ul>
                <div class="navbar-right">
                    <button class="btn" style="font-weight: 700; float: right; background-color: transparent; border-color: #33a6cc; color:#33a6cc" ng-click="Logout()">Logout</button>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <h2  style="color:#33a6cc">動感校園 <span style="color:Black"> 2017/18 (2017年10月9日至2018年2月23日) </span>活動 / 課程時間表</h2>
            <table class="table table-bordered">
                <thead class="thead thead-inverse">
                    <tr>
                        <th>Delete</th>
                        <th>Edit</th>
                        <th>活動組織</th>
                        <th>No.</th>
                        <th>活動課程</th>
                        <th>對象</th>
                        <th>導師人數上限</th>
                        <th>師生比例:學生人數上限</th>
                        <th>日期</th>
                        <th>備註</th>
                    </tr>
                </thead>

                <tr class="table-active" ng-repeat-start="item in itemlist" ng-click="showdetail(item)" ng-show="item.showitem">
                    <td>
                        <button class="btn btn-sm" style="background-color: transparent; border-color: black;" ng-click="deleteItem(item)"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                    <td>
                        <button class="btn btn-sm" style="background-color: transparent; border-color: black;" ng-click="update(item)"><span class="glyphicon glyphicon-pencil"></span></button>
                    </td>
                    <td><a href="#" ng-bind="item.organization" ng-click="showOrgan(item)"></a></td>
                    <td ng-bind="item.No"></td>
                    <td><a href="#" ng-bind="item.activity" ng-click="showActivity(item)"></a></td>
                    <td ng-bind="item.target"></td>
                    <td ng-bind="item.maxteacher"></td>
                    <td ng-bind="item.ratio"></td>
                    <td ng-bind="item.date"></td>
                    <td ng-bind="item.options"></td>
                </tr>
                <tr ng-repeat-end ng-repeat="t in item.time" ng-show="item.show && item.showitem">
                    <td></td>
                    <td></td>
                    <td ng-bind="t.value"></td>
                    <td colspan='7'><a href="#" ng-bind='t.user' ng-click="checkUser(t.user)"></a></td>
                </tr>
            </table>
            <button class="btn" style="background-color: transparent; border-color:black;" ng-click="cancel()">Return</button>
        </div>
    </div>
    <script>
    var app = angular.module("userModel", ['ngCookies']);
    app.controller("itemlistController", function($scope, $http, $window, $cookies){
        $scope.itemlist = [];
        $http.post("/itemlistdata", {})
        .then(function(response) {
            if (response.data.feedback === 'Failure') {
                $window.location.href = '/login.html';
            }
            console.log(response);
            $scope.itemlist = response.data.itemlist;
            for (idx in $scope.itemlist) {
                $scope.itemlist[idx].show = false;
                $scope.itemlist[idx].showitem = true;
                for (t in $scope.itemlist[idx].time) {
                    if ($scope.itemlist[idx].time[t].user !== undefined && $scope.itemlist[idx].time[t].user != "") {
                        $scope.itemlist[idx].time[t].show = false;
                    }
                    else {
                        $scope.itemlist[idx].time[t].show = true;
                    }
                }
            }
        });
        $scope.showdetail = function(item) {
            item.show = !item.show
            console.log("show detail");
        }
        $scope.update = function(item) {
            $window.location.href = '/itemUpdate.html?'+item._id;
        }
        $scope.cancel = function() {
            for (idx in $scope.itemlist) {
                $scope.itemlist[idx].show = false;
                $scope.itemlist[idx].showitem = true;
            }
        }
        $scope.submit = function() {
            console.log("click submit");
            var items = [];
            for (i in $scope.itemlist) {
                var item = $scope.itemlist[i];
                var time = [];
                var selected = false;
                for (t in item.time) {
                    if (item.time[t].checked) {
                        item.time[t].user = $cookies.get('uid');
                        selected = true;
                    }
                    time.push({value: item.time[t].value, user: item.time[t].user});
                }
                if (selected) {
                    items.push({_id: item._id, time});
                }
            }
            console.log(items);
            $http.post('/selection', items)
            .then(function(response) {
                console.log(response);
                if (response.data.feedback === 'Success') {
                    $window.location.href = '/itemlist.html';
                }
                else {
                    console.log('Fail');
                }
            })
        }
        $scope.deleteItem = function(item) {
            $http.post('/admin/delete/' + item._id, {})
            .then(function(response) {
                console.log(response);
                if (response.data.feedback === 'Success') {
                    $window.location.reload();
                }
            })
        }
        $scope.showOrgan = function(item) {
            var organ = item.organization;
            for (idx in $scope.itemlist) {
                if ($scope.itemlist[idx].organization !== organ) {
                    $scope.itemlist[idx].showitem = false;
                    $scope.itemlist[idx].show = false;
                }
                else {
                    $scope.itemlist[idx].showitem = true;
                    $scope.itemlist[idx].show = false;
                }
            }
        }
        $scope.showActivity = function(item) {
            var activity = item.activity;
            for(idx in $scope.itemlist) {
                if ($scope.itemlist[idx].activity !== activity) {
                    $scope.itemlist[idx].showitem = false;
                    $scope.itemlist[idx].show = false;
                }
                else {
                    $scope.itemlist[idx].showitem = true;
                    $scope.itemlist[idx].show = false;
                }
            }
        }
        $scope.checkUser = function(iid) {
            $window.location.href = "/profile.html?"+iid;
        }
        $scope.userList = function() {
            $window.location.href = '/adminUser.html';
        }
        $scope.showItemlist = function() {
            $window.location.href = "/admin.html";
        }
        $scope.addItem = function() {
            $window.location.href = "/item.html";
        }
        $scope.Logout = function() {
            $http.post('/users/logout', {})
            .then(function logoutSuccess(response) {
                console.log(response);
                $cookies.remove('uid');
                $window.location.href = '/';
            });
        };
    });
    </script>

</body>
</html>
