<html>
    <head>
        <meta charset="UTF-8">
        <title>Activity</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

        <link rel="stylesheet" href="/css/photo-gallery.css">

    </head>
    <body>
            <div ng-app="userModel" ng-controller="itemlistController">
                    <nav class="navbar navbar-inverse bg-inverse">
                        <div class="container-fluid">
                            <div class="navbar-header"><a class="navbar-brand" href="#">動感校園</a></div>
                            <ul class="nav navbar-nav">
                                <li><a href="#" ng-click="showItemlist()">項目列表</a></li>
                                <li><a href="#" ng-click="showProfile()">已選項目</a></li>
                                <li><a href="#" ng-click="oldprofile={name:user.name};newprofile={};" data-toggle="modal" data-target="#myModal">更新信息</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">下载</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" ng-click="download(1)">申請表</a></li>
                                        <li><a href="#" ng-click="download(2)">動感校園報名信</a></li>
                                        <li><a href="#" ng-click="download(3)">約章</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="/album.html">相冊</a></li>
                            </ul>
                            <div class="navbar-right">
                                <button class="btn" style="font-weight: 700; float: right; background-color: transparent; border-color: #33a6cc; color:#33a6cc" ng-click="Logout()">登出</button>
                            </div>
                        </div>
                    </nav>

        <div class="container">
            <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="gallery-title">Gallery</h1>
            </div>

            <br/>

            <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">更新信息</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>現在信息</label>
                                </div>
                                <div class="form-group">
                                    <input type="email" ng-model="oldprofile.email" placeholder="電郵">
                                    <input ng-model="oldprofile.password" placeholder="密碼" special-char-directive>
                                </div>
                                <div class="form-group">
                                    <label>新信息</label>
                                </div>
                                <div class="form-group">
                                    <input type="email" ng-model="newprofile.email" placeholder="電郵">
                                    <input ng-model="newprofile.password" placeholder="密碼" special-char-directive>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <p style="color:red" ng-show="showerror" ng-model="errormsg">無效的輸入</p>
                            <button type="button" class="btn btn-success" ng-click="updateprofile()">提交</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>



                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="/image/Photonew/1.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <img src="/image/Photonew/2.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="/image/Photonew/3.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="/image/Photonew/4.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="/image/Photonew/5.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="/image/Photonew/6.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="/image/Photonew/7.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="/image/Photonew/8.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
                    <img src="/image/Photonew/9.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                    <img src="/image/Photonew/10.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
                    <img src="/image/Photonew/11.jpg" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                    <img src="/image/Photonew/12.jpg" class="img-responsive">
                </div>
            </div>
        </div>

        </div>

    </body>
    <script>
    var app = angular.module("userModel", ['ngCookies']);
    app.controller("itemlistController", function($scope, $http, $window, $cookies){
        var uid = $cookies.get("uid");
        $scope.showProfile = function() {
            $window.location.href = "/profile.html?"+uid;
        }
        $scope.showItemlist = function() {
            $window.location.href = "/itemlist.html";
        }
        $scope.Logout = function() {
            $http.post('/users/logout', {})
            .then(function logoutSuccess(response) {
                console.log(response);
                $cookies.remove('uid');
                $window.location.href = '/';
            });
        };
        $scope.updateprofile = function() {
            if ($scope.oldprofile.email != undefined && $scope.oldprofile.password != undefined && $scope.newprofile.email != undefined && $scope.newprofile.password != undefined) {
                $http.post("/users/update/"+uid, {oldprofile:$scope.oldprofile, newprofile:$scope.newprofile})
                .then(function(response) {
                    console.log(response);
                    if (response.data.feedback === 'Success') {
                        $window.location.reload();
                    }
                    else {
                        $scope.showerror = true;
                        if (response.data.msg != undefined) {
                            $scope.errormsg = response.data.msg;
                        }
                        else {
                            $scope.errormsg = "error";
                        }
                    }
                })
            }
            else {
                $scope.showerror = true;
                $scope.errormsg = "Invalid Input";
            }
        }
        $scope.download = function(index) {
            if (index === 1) {
                $window.open("/resource/application.pdf");
            }
            else if (index == 2) {
                $window.open("/resource/letter.pdf");
            }
            else if (index == 3) {
                $window.open("/resource/info.pdf")
            }
        }
    });
    </script>
</html>
