<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
<body>

<div ng-app="userModel" ng-controller="myCtrl"> 
<div class='container'>
    <span>{{Status}}</span>
    <br>
    <button ng-click='Register()'>Register</button>
    <button ng-click='Login()'>Login</button>
    <button ng-click='Logout()'>Logout</button>
    <button ng-click="Itemlist()">Itemlist</button>
    <button ng-click="CreateItem()">CreateItem</button>
</div>

<script>
var app = angular.module('userModel', ['ngCookies']);
app.controller('myCtrl', function($scope, $http, $window, $cookies) {
    console.log($cookies);
    if (!$cookies.get('uid')) {
        $scope.Status = 'Failure';
    }
    else {
        $scope.Status = 'Success';
    }
    $scope.Register = function() {
        $window.location.href = '/register.html';
    };
    $scope.Login = function() {
        $window.location.href = '/login.html';
    };
    $scope.Logout = function() {
        $http.post('/users/logout', {})
        .then(function logoutSuccess(response) {
            console.log(response);
            $cookies.remove('uid');
            $window.location.href = '/';
        });
    };
    $scope.Itemlist = function() {
        $window.location.href = '/itemlist.html';
    }
    $scope.CreateItem = function() {
        $window.location.href = '/item.html';
    }
});
</script>

</body>
</html>
