<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <link href="/css/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div ng-app="userModel" ng-controller="itemlistController">
        <nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">動感校園</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#" ng-click="showItemlist()">項目列表</a>
                    </li>
                    <li>
                        <a href="#" ng-click="showProfile()">已選項目</a>
                    </li>
                    <!--<li><a href="#" ng-click="oldprofile={name:user.name};newprofile={};showerror=false;" data-toggle="modal" data-target="#myModal">更新信息</a></li>-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">下载</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="download(1)" ng-bind="activedownload[0]"></a>
                            </li>
                            <li>
                                <a href="#" ng-click="download(2)" ng-bind="activedownload[1]"></a>
                            </li>
                            <li>
                                <a href="#" ng-click="download(3)" ng-bind="activedownload[2]"></a>
                            </li>
                            <li>
                                <a href="#" ng-click="download(4)" ng-bind="activedownload[3]"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/album.html">相冊</a>
                    </li>
                </ul>
                <div class="navbar-right">
                    <div ng-show=False>
                        <span ng-bind="selectedItem"></span>
                        <span>/</span>
                        <span ng-bind="activenumber"></span>
                    </div>
                    <button class="btn" style="font-weight: 700; float: right; background-color: transparent; border-color: #33a6cc; color:#33a6cc"
                        ng-click="Logout()">登出</button>
                </div>
            </div>
        </nav>
        <div class="container-fluid" style="margin-top:100px">
            <h2 style="color:#33a6cc;">動感校園
                <span style="color:Black" ng-bind="activetitle"> </span>活動 / 課程時間表

            </h2>

            <table style="table-layout:fixed; border-collapse: separate; border: none; background: transparent;" class="table table-dark">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <thead class="thead thead-inverse">
                    <tr>
                        <th align="center" style="border-top-left-radius: 20px;">活動組織</th>
                        <th align="center">No.</th>
                        <th align="center">活動課程</th>
                        <th align="center" colspan="6" style="border-top-right-radius: 20px;">
                            <table class="table" style="border:none; table-layout:fixed; background: transparent;" cellspacing="0" cellpadding="0">
                                <col width="40px">
                                <col width="40px">
                                <col width="40px">
                                <col width="40px">
                                <col width="40px">
                                <col width="40px">
                                <tr style="border:none;">
                                    <td align="left" style="border:none;">對象</td>
                                    <td align="left" style="border:none;">導師
                                        <br>人數上限</td>
                                    <td align="left" style="border:none;">師生比例
                                        <br>學生人數上限</td>
                                    <td align="left" style="border:none;">日期</td>
                                    <td align="left" style="border:none;">備註</td>
                                    <td align="left" style="border:none;">Time</td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </thead>
                <tr class="table-active" ng-repeat-start="item in itemlist" ng-click="showdetail(item)">

                    <td ng-bind="item.organization"></td>
                    <td ng-bind="item.No"></td>
                    <td>
                        <div>
                            <span style="float:left;" ng-bind="item.activity"></span>
                        </div>
                    </td>
                    <td colspan="6">
                        <table class="table borderless" style="border:none; table-layout:fixed; background: transparent;" cellspacing="0" cellpadding="0">
                            <col width="40px">
                            <col width="40px">
                            <col width="40px">
                            <col width="40px">
                            <col width="40px">
                            <col width="40px">
                            <tr ng-repeat="t in item.data" style="border:none;">
                                <td style="border:none;">
                                    <span ng-bind="t.target"></span>
                                </td>
                                <td style="border:none;">
                                    <span ng-bind="t.maxteacher"></span>

                                </td>
                                <td style="border:none;">
                                    <span ng-bind="t.ratio"></span>
                                </td>
                                <td style="border:none;">
                                    <div>
                                        <span ng-bind="t.date" style="float: left"></span>
                                        <button type="button" style="float:right; background-color: transparent; border: none;" ng-click="deleteTimestep(item, t)"
                                            ng-show="t.show && !userstatus">
                                            <i class="fa fa-minus fa-xs"></i>
                                        </button>
                                    </div>
                                </td>
                                <td style="border:none;">
                                    <span ng-bind="t.options">
                                    </span>
                                </td>
                                <td style="border:none;">
                                    <div>
                                        <span ng-bind="t.timestart"></span>
                                        <span>-</span>
                                        <span ng-bind="t.timeend"></span>

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>

                <tr ng-repeat-end ng-show="item.show">
                    <td colspan="3">
                        <span ng-show="item.showerror">
                            Not valid input
                        </span>
                    </td>
                    <td>
                        <input style="width:100%; padding:2px;;" ng-model="item.newitem.target" maxlength="10">
                    </td>
                    <td>
                        <input style="width:100%; padding:2px;" ng-model="item.newitem.maxteacher" maxlength="10">
                    </td>
                    <td>
                        <input style="width:100%; padding:2px;" ng-model="item.newitem.ratio" maxlength="10">
                    </td>
                    <td>
                        <div>
                            <datepicker date-format="dd/MM/yyyy">
                                <input style="width:100%; padding:2px;" ng-model="item.newitem.date" type="text" style="float: left" />

                                <button type="button" style="float:right; background-color: transparent; border: none;" ng-click="addData(item)">
                                    <i class="fa fa-plus fa-xs"></i>
                                </button>
                            </datepicker>
                        </div>

                    </td>
                    <td>
                        <input ng-model="item.newitem.options" style="width:100%; padding:2px; word-wrap: break-word;" maxlength="200">
                    </td>
                    <td>
                        <div style="display:flex; flex-direction:row;">
                            <input ng-model="item.newitem.timestart" style="width:40%; padding:2px; margin: 2px;" maxlength="5">
                            <span> - </span>
                            <input ng-model="item.newitem.timeend" style="width:40%; padding:2px; margin: 2px;" maxlength="5">
                        </div>
                    </td>
                </tr>
            </table>


            <div>
                <textarea class="form-control" style="resize: none; width:100%" row="3" ng-model="comment" maxlength=500 ng-disabled="userstatus"
                    special-char-directive></textarea>
            </div>
            <br>
            <div>
                <button class="btn" style="background-color: transparent; color: green; border-color: green;" ng-click="submit()" ng-disabled="userstatus">提交</button>
                <button class="btn" style="background-color: transparent; border-color:black;" ng-click="cancel()">取消</button>
                <label ng-show="userstatus">您已經提交過申請，如果需要更改請聯繫管理員。</label>
            </div>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js'></script>

    <script>
        var app = angular.module("userModel", ['ngCookies', '720kb.datepicker']);
        app.controller("itemlistController", function ($scope, $http, $window, $cookies) {
            var uid = $cookies.get("uid");
            $scope.isActive = true;
            $scope.userstatus = true;
            $scope.itemlist = [];
            $scope.comment = "";
            $scope.selectedItem = 0;
            $http.get('/title').then(function (response) {
                // console.log(response);
                if (response.data.feedback === 'Success') {
                    $scope.activetitle = response.data.value;
                    $scope.activenumber = response.data.number;
                    $scope.activedownload = response.data.download.split(',');

                    if (response.data.status != undefined) {
                        if (response.data.status !== true) {
                            $http.post('/users/logout', {})
                                .then(function logoutSuccess(response) {
                                    // console.log(response);
                                    $cookies.remove('uid');
                                    $window.location.href = "/warning.html"
                                });
                        }
                    }
                }
                else {
                    $scope.activetitle = "";
                }
            });
            $http.post("/itemlistdata", {})
                .then(function (response) {
                    if (response.data.feedback === 'Failure') {
                        $window.location.href = '/login.html';
                    }
                    $scope.itemlist = response.data.itemlist;
                    for (idx in $scope.itemlist) {
                        $scope.itemlist[idx].show = false;
                        $scope.itemlist[idx].modified = false;
                        if ($scope.itemlist[idx].data == undefined) {
                            $scope.itemlist[idx].data = [];
                        }
                        for (d in $scope.itemlist[idx].data) {
                            if ($scope.itemlist[idx].data[d].user === uid) {
                                $scope.itemlist[idx].data[d].show = true;
                            }
                            else {
                                $scope.itemlist[idx].data[d].show = false;
                            }
                        }
                        if ($scope.itemlist[idx].options === 'NULL') {
                            $scope.itemlist[idx].options = "";
                        }
                    }
                });
            $http.post("/comment/" + uid, {})
                .then(function (response) {
                    console.log(response);
                    $scope.comment = response.data.comment;
                    $scope.email = response.data.email;
                    $scope.userstatus = !(response.data.status === 'active');
                });
            $scope.showdetail = function (item) {
                if (!$scope.userstatus) {
                    item.show = !item.show
                    // initialize new item
                    item.newitem = {
                        target: "",
                        maxteacher: "",
                        ratio: "",
                        date: "",
                        options: "",
                        timestart: "",
                        timeend: "",
                        user: "",
                        show: false,
                    };
                    item.modified = true;
                    item.showerror = false;
                }
            }
            $scope.changeSelectedItem = function (t) {
                if (t.checked) {
                    $scope.selectedItem++;
                    if ($scope.selectedItem > $scope.activenumber) {
                        t.checked = false;
                        $scope.selectedItem--;
                    }
                }
                else {
                    $scope.selectedItem--;
                }
            }
            $scope.cancel = function () {
                $window.location.href = "/";
            }
            $scope.submit = function () {
                // console.log("click submit");
                var items = [];
                for (i in $scope.itemlist) {
                    var item = $scope.itemlist[i];
                    if (item.modified == true) {
                        items.push({ _id: item._id, data: item.data });
                    }
                }
                if ($scope.comment == undefined) {
                    $scope.comment = "";
                }
                // post to server
                $http.post('/updateselection/' + uid, { items: items, comment: $scope.comment, email: $scope.email })
                    .then(function (response) {
                        if (response.data.feedback === 'Success') {
                            $window.location.href = '/itemlist.html';
                        }
                        else {
                            // console.log('Fail');
                        }
                    });
            };
            $scope.showProfile = function () {
                $window.location.href = "/profile.html?" + uid;
            }
            $scope.showItemlist = function () {
                $window.location.href = "/itemlist.html";
            }
            $scope.Logout = function () {
                $http.post('/users/logout', {})
                    .then(function logoutSuccess(response) {
                        // console.log(response);
                        $cookies.remove('uid');
                        $window.location.href = '/';
                    });
            };
    
            $scope.download = function (index) {
                if (index === 1) {
                    $window.open("/resourcenew/application.pdf");
                }
                else if (index == 2) {
                    $window.open("/resourcenew/letter.pdf");
                }
                else if (index == 3) {
                    $window.open("/resourcenew/info.pdf")
                }
                else if (index == 4) {
                    $window.open("/resourcenew/timetable.pdf")
                }
            }
            $scope.addData = function (item) {

                // check input format
                if ($scope.checkInput(item.newitem)) {
                    item.newitem.user = uid;
                    item.newitem.show = true;
                    item.data.push(item.newitem);
                    $scope.showdetail(item);
                }
                else {
                    console.log("Not valid input!");
                    item.showerror = true;
                }
            }
            $scope.deleteTimestep = function (item, t) {
                var index = item.data.indexOf(t);
                if (index > -1) {
                    item.data.splice(index, 1);
                }
            }

            $scope.checkInput = function (item) {
                var reg = /^[a-zA-Z0-9-:,.，。()（）/ \u4E00-\u9FCC][a-zA-Z0-9-:,.，。()（）/ \u4E00-\u9FCC]*$/;
                var numreg = /^[0-9.:][0-9.:]*$/;
                if (!item.target.match(reg)) {
                    return false;
                }
                if (!item.maxteacher.match(numreg)) {
                    return false;
                }
                if (!item.ratio.match(numreg)) {
                    return false;
                }
                if (!item.options.match(reg)) {
                    return false;
                }
                if (!item.timestart.match(numreg)) {
                    return false;
                }
                if (!item.timeend.match(numreg)) {
                    return false;
                }
                if (item.date === "") {
                    return false;
                }
                return true;
            }
        });
        app.directive('specialCharDirective', function () {
            function link(scope, elem, attrs, ngModel) {
                ngModel.$parsers.push(function (viewValue) {
                    var reg = /^[a-zA-Z0-9-:,.，。()（）/ \u4E00-\u9FCC]*$/;
                    if (viewValue.match(reg)) {
                        return viewValue;
                    }
                    var transformedValue = ngModel.$modelValue;
                    ngModel.$setViewValue(transformedValue);
                    ngModel.$render();
                    return transformedValue;
                });
            }
            return {
                restrict: 'A',
                require: 'ngModel',
                link: link
            };
        });
    </script>
    <script src="/css/src/js/angular-datepicker.js"></script>
</body>

</html>