<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
    </head>
<body>

<div class='container-fluid' ng-app="userModel" ng-controller="itemCtrl">
    <form>
        <div class="form-group">
            <label>Organization</label>
            <input class="form-control" ng-model='itemorgan'/>
        </div>
        <div class="form-group">
            <label>No.</label>
            <input class="form-control" ng-model='itemno'/>
        </div>
        <div class="form-group">
            <label>Activity Course</label>
            <input class="form-control" ng-model='itemactivity'/>
        </div>
        <div class="form-group">
            <label>Target Student</label>
            <input class="form-control" ng-model='itemtarget'/>
        </div>
        <div class="form-group">
            <label>Maximum of teachers</label>
            <input class="form-control" ng-model='itemmaxteacher'/>
        </div>
        <div class="form-group">
            <label>Student:Teachers</label>
            <input class="form-control" ng-model='itemratio'/>
        </div>
        <div class="form-group">
            <label>Date</label>
            <input class="form-control" ng-model='itemdate'/>
        </div>
            <div class="form-group">
            <label>Suggest period</label>
            <div ng-repeat="time in times">
                <input class="form-control" type="text" ng-model="time.value"/>
                <button type="button" class="btn btn-default addButton" ng-click="addtime()" ng-hide="time.show"><i class="fa fa-plus"></i></button>
                <button type="button" class="btn btn-default decreaseButton" ng-click="decreasetime(time)" ng-show="time.show"><i class="fa fa-minus" ng-show="!item.show"></i></button>
            </div>
        </div>
        <div class="form-group">
            <label>Options</label>
            <input class="form-control" ng-model='itemoptions'/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-click='addItem()'>Submit</button>
            <button class="btn btn-default" ng-click='cancel()'>Cancel</button>
        </div>
    </form>
</div>

<script>
var app = angular.module('userModel', []);
app.controller('itemCtrl', function($scope, $http, $window) {
    var count = 0;
    $scope.times = [{show: false, index: count}];
    count ++;
    $scope.addtime = function() {
        $scope.times.push({show: true, index:count});
        count ++;
    };
    $scope.decreasetime = function(time) {
        $scope.times.splice(time.index, 1);
    };

    $scope.addItem = function() {
        var itemtime = [];
        for (time in $scope.times) {
            if (time.value !== "") {
                itemtime.push({value: time.value});
            }
        }
        $http.post('/items', {
            organization: $scope.itemorgan,
            No: $scope.itemno,
            activity: $scope.itemactivity,
            target: $scope.itemtarget,
            maxteacher: $scope.itemmaxteacher,
            ratio: $scope.itemratio,
            date: $scope.itemdate,
            time: JSON.stringify(itemtime),
            options: $scope.itemoptions
        }).then(function(response) {
            console.log(response);
        });
    };

    $scope.cancel = function() {
        $scope.itemorgan = "";
        $scope.itemno = "";
        $scope.itemactivity = "";
        $scope.itemtarget = "";
        $scope.itemmaxteacher = "";
        $scope.itemratio = "";
        $scope.itemdate = "";
        $scope.times = [{show: false, index: count}];
        $scope.itemoptions = "";
    }
});
</script>

</body>
</html>
