<!DOCTYPE html>
<html lang="en" >
<html>
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

</head>
    <style>
    h1 {
        text-align: center;
    }
    </style>
</head>
<body>
    <div ng-app="userModel" ng-controller="itemCtrl">
        <nav class="navbar navbar-inverse bg-inverse">
            <div class="container-fluid">
                <div class="navbar-header"><a class="navbar-brand" href="#">動感校園</a></div>
                <ul class="nav navbar-nav">
                    <li><a href="#" ng-click="showItemlist()">項目列表</a></li>
                    <li class="active"><a href="#" ng-click="addItem()">創建項目</a></li>
                    <li><a href="#" ng-click="userList()">用戶列表</a></li>
                </ul>
                <div class="navbar-right">
                    <button class="btn" style="font-weight: 700; float: right; background-color: transparent; border-color: #33a6cc; color:#33a6cc" ng-click="Logout()">登出</button>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <h1>創建項目</h1>
            <form name="itemform">
                <div class="form-group">
                    <label>活動組織</label>
                    <input class="form-control" ng-model='itemorgan'  special-char-directive required/>
                </div>
                <div class="form-group">
                    <label>No.</label>
                    <input class="form-control" ng-model='itemno' special-char-directive required/>
                </div>
                <div class="form-group">
                    <label>活動課程</label>
                    <input class="form-control" ng-model='itemactivity' special-char-directive required/>
                </div>
                <div class="form-group">
                    <label>對象</label>
                    <input class="form-control" ng-model='itemtarget' special-char-directive required/>
                </div>
                <div class="form-group">
                    <label>導師人數上限</label>
                    <input class="form-control" ng-model='itemmaxteacher' special-char-directive required/>
                </div>
                <div class="form-group">
                    <label>師生比例：學生人數上限</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <input class="form-control" placeholder="1" disabled/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" ng-model='itemratio' special-char-directive required/>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>日期</label>
                    <input class="form-control" ng-model='itemdate' special-char-directive required/>
                </div>
                <div class="form-group">
                    <label>建議時段</label>
                    <div ng-repeat="time in times">
                        <input class="form-control" type="text" ng-model="time.value" special-char-directive required/>
                        <button type="button" class="btn btn-default addButton" ng-click="addtime()" ng-hide="time.show"><i class="fa fa-plus"></i></button>
                        <button type="button" class="btn btn-default decreaseButton" ng-click="decreasetime(time)" ng-show="time.show"><i class="fa fa-minus" ng-show="!item.show"></i></button>
                    </div>
                </div>
                <div class="form-group">
                    <label>備註</label>
                    <input class="form-control" ng-model='itemoptions' special-char-directive required/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" ng-click='submit()' ng-disabled="itemform.$invalid">提交</button>
                    <button class="btn btn-default" ng-click='cancel()'>取消</button>
                </div>
            </form>
        </div>
    </div>

    <script>
    var app = angular.module('userModel', ["ngCookies"]);
    app.controller('itemCtrl', function($scope, $http, $window, $cookies) {
        var count = 0;
        $scope.itemoptions = "";
        $scope.times = [{show: false, index: count}];
        count ++;
        $scope.addtime = function() {
            $scope.times.push({show: true, index:count});
            count ++;
        };
        $scope.decreasetime = function(time) {
            $scope.times.splice(time.index, 1);
        };

        $scope.submit = function() {
            var itemtime = [];
            for (time in $scope.times) {
                if ($scope.times[time].value !== "") {
                    itemtime.push({value: $scope.times[time].value});
                }
            }
            $http.post('/items', {
                organization: $scope.itemorgan,
                No: $scope.itemno,
                activity: $scope.itemactivity,
                target: $scope.itemtarget,
                maxteacher: $scope.itemmaxteacher,
                ratio: $scope.itemratio,
                date: $scope.itemdate,
                time: itemtime,
                options: $scope.itemoptions
            }).then(function(response) {
                console.log(response);
                $window.location.href = '/item.html';
            });
        };
        $scope.userList = function() {
            $window.location.href = '/adminUser.html';
        }
        $scope.showItemlist = function() {
            $window.location.href = "/admin.html";
        }
        $scope.addItem = function() {
            $window.location.href = "/item.html";
        }
        $scope.Logout = function() {
            $http.post('/users/logout', {})
            .then(function logoutSuccess(response) {
                console.log(response);
                $cookies.remove('uid');
                $window.location.href = '/';
            });
        };
        $scope.cancel = function() {
            $window.history.back();
        }
    })
    .directive('specialCharDirective', function() {
        function link(scope, elem, attrs, ngModel) {
            ngModel.$parsers.push(function(viewValue) {
                var reg = /^[a-zA-Z0-9-:,.， \u4E00-\u9FCC]*$/;
                if (viewValue.match(reg)) {
                    return viewValue;
                }
                var transformedValue = ngModel.$modelValue;

                ngModel.$setViewValue(transformedValue);
                ngModel.$render();
                return transformedValue;
            });
        }

        return {
            restrict: 'A',
            require: 'ngModel',
            link: link
        };
    });
    </script>

</body>
</html>
