<!DOCTYPE html>
<html lang="en" >
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="css/form-elements.css">
    <link rel="stylesheet" href="css/style-login.css">

</head>
<body style="background-image:url('image/background.jpg')">
    <div class="top-content" ng-app="userModel" ng-controller="myCtrl">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>ActiveSchool</strong> Login</h1>
                        <div class="description">
                            <p>香港精英运动员协会 動感校園</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Login to ActiveSchool</h3>
                                    <p>Enter your username and password</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-key"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" class="login-form">
                                    <div class="form-group">
                                        <label class="sr-only">Username</label>
                                        <input ng-model='username' type="text" class="form-username form-control" placeholder='Input your name' special-char-directive required/>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only">Password</label>
                                        <input ng-model='password' type='password' class="form-password form-control" placeholder='Input your password' special-char-directive required/>
                                    </div>
                                    <div class="alert alert-danger" ng-show="failToLogin">
                                        <strong>Failure</strong> Invalid username or password.
                                    </div>
                                    <button type="submit" class="btn" ng-click="submit()">Sign in!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</body>
<script>
var app = angular.module('userModel', ['ngCookies']);
app.controller('myCtrl', function($scope, $http, $window, $cookies) {
    $scope.failToLogin = false;
    $scope.submit = function submit() {
        console.log('click submit');
        $http.post('/users/login', {
            type: 'user',
            name: $scope.username,
            password: $scope.password
        }).then(function submitSuccess(response) {
            console.log(response);
            if (response.data.feedback === 'Success') {
                $window.location.href = '/itemlist.html';
                $cookies.put('uid', response.data._id);
            }
            else {
                $scope.failToLogin = true;
            }
        });
    }
    $scope.cancel = function cancel() {
        console.log('click cancel');
        $scope.username = '';
        $scope.password = '';
    }
})
.directive('specialCharDirective', function() {
    function link(scope, elem, attrs, ngModel) {
        ngModel.$parsers.push(function(viewValue) {
            var reg = /^[a-zA-Z0-9]*$/;
            if (viewValue.match(reg)) {
                return viewValue;
            }
            var transformedValue = ngModel.$modelValue;
            ngModel.$setViewValue(transformedValue);
            ngModel.$render();
            return transformedValue;
        });
    }

    return {
        restrict: 'A',
        require: 'ngModel',
        link: link
    };
});

</script>


</html>
