<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <link href="/css/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />


</head>

<body>
    <div ng-app="userModel" ng-controller="itemlistController">
        <nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">動感校園</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" ng-click="showItemlist()">項目列表</a>
                    </li>
                    <li class="active">
                        <a href="#" ng-click="showProfile()">已選項目</a>
                    </li>
                    <!--<li><a href="#" ng-click="oldprofile={name:user.name};newprofile={};" data-toggle="modal" data-target="#myModal">更新信息</a></li>-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">下载</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="download(1)" ng-bind="activedownload[0]"></a>
                            </li>
                            <li>
                                <a href="#" ng-click="download(2)" ng-bind="activedownload[1]"></a>
                            </li>
                            <li>
                                <a href="#" ng-click="download(3)" ng-bind="activedownload[2]"></a>
                            </li>
                            <li>
                                <a href="#" ng-click="download(4)" ng-bind="activedownload[3]"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/album.html">相冊</a>
                    </li>
                </ul>
                <div class="navbar-right">
                    <button class="btn" style="font-weight: 700; float: right; background-color: transparent; border-color: #33a6cc; color:#33a6cc"
                        ng-click="Logout()">登出</button>
                </div>
            </div>
        </nav>

        <div style="margin-top:100px; width:100%" class="container-fluid">

            <button class="btn" style="float: right;font-weight: 700; float: right; background-color: transparent; border-color: #33a6cc; color:#33a6cc"
                ng-click="downloadFile()">下載表格</button>
            <h1 style="font-weight:700" ng-bind="user.name"></h1>

            <table style="table-layout:fixed; border-collapse: separate; border: none; background: transparent;" class="table table-dark">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <col width="10px">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <col width="40px">
                <col width="40px">

                <thead class="thead thead-inverse">
                    <tr>
                        <th align="center" style="border-top-left-radius: 20px;">活動組織</th>
                        <th align="center">No.</th>
                        <th align="center">活動課程</th>
                        <th align="center" colspan="7" style="border-top-right-radius: 20px;">
                            <table class="table" style="border:none; table-layout:fixed; background: transparent;" cellspacing="0" cellpadding="0">
                                <col width="10px">
                                <col width="40px">
                                <col width="40px">
                                <col width="40px">
                                <col width="40px">
                                <col width="40px">
                                <col width="40px">
                                <tr style="border:none;">
                                    <td style="border:none;"></td>
                                    <td align="left" style="border:none;">對象</td>
                                    <td align="left" style="border:none;">導師
                                        <br>人數上限</td>
                                    <td align="left" style="border:none;">師生比例
                                        <br>學生人數上限</td>
                                    <td align="left" style="border:none;">日期</td>
                                    <td align="left" style="border:none;">備註</td>
                                    <td align="left" style="border:none;">時間</td>
                                </tr>
                            </table>
                        </th>
                    </tr>
                </thead>
                <tr class="table-active" ng-repeat="item in itemlist">

                    <td ng-bind="item.organization"></td>
                    <td ng-bind="item.No"></td>
                    <td>
                        <div>
                            <span style="float:left;" ng-bind="item.activity"></span>
                        </div>
                    </td>
                    <td colspan="7">
                        <table class="table borderless" style="border:none; table-layout:fixed; background: transparent;" cellspacing="0" cellpadding="0">
                            <col width="10px">
                            <col width="40px">
                            <col width="40px">
                            <col width="40px">
                            <col width="40px">
                            <col width="40px">
                            <col width="40px">
                            <tr ng-repeat="t in item.data" style="border:none;">
                                <td style="border:none;">

                                    <div ng-show="!userstatus">

                                        <!--
                                        <button class="btn" style="padding:1px; margin:0;font-size:2px; background-color: transparent; border-color: #33a6cc; color:#33a6cc"
                                            ng-click="linkToEditPage()">編輯</button>

                                        <button class="btn" style="padding:1px; margin:0;font-size:2px; background-color: transparent; border-color: #33a6cc; color:#33a6cc"
                                            ng-click="deleteTimestep(item, t)">確認</button>
                                        -->
                                        <button type="button" style="float:right; background-color: transparent; border: none;" ng-click="deleteTimestep(item, t)">
                                            <i class="fa fa-minus fa-xs"></i>
                                        </button>

                                    </div>
                                </td>
                                <td style="border:none;">
                                    <span ng-bind="t.target"></span>
                                </td>
                                <td style="border:none;">
                                    <span ng-bind="t.maxteacher"></span>

                                </td>
                                <td style="border:none;">
                                    <span ng-bind="t.ratio"></span>
                                </td>
                                <td style="border:none;">
                                    <div>
                                        <span ng-bind="t.date" style="float: left"></span>
                                    </div>
                                </td>
                                <td style="border:none;">
                                    <span ng-bind="t.options">
                                    </span>
                                </td>
                                <td style="border:none;">
                                    <div>
                                        <span ng-bind="t.timestart"></span>
                                        <span>-</span>
                                        <span ng-bind="t.timeend"></span>

                                    </div>
                                </td>
                            </tr>
                            <tr style="border:none;" ng-show="!item.show && !userstatus">
                                <td style="border:none;">
                                    <button type="button" style="float:right; background-color: transparent; border: none;" ng-click="showdetail(item)">
                                        <i class="fa fa-plus fa-xs"></i>
                                    </button>

                                </td>
                                <td style="border:none;"></td>
                                <td style="border:none;"></td>
                                <td style="border:none;"></td>
                                <td style="border:none;"></td>
                                <td style="border:none;"></td>
                                <td style="border:none;"></td>
                            </tr>
                            <tr class="table-active" ng-show="item.show">
                                    <td>
                                        <button class="btn" style="float:right; padding:1px; margin:0;font-size:2px; background-color: transparent; border-color: green; color:green"
                                            ng-click="addData(item)">確認</button>
                                        <!--
                                        <button type="button" style="float:right; background-color: transparent; border: none;" ng-click="addData(item)">
                                            <i class="fa fa-plus fa-xs"></i>
                                        </button>
                                            -->
                
                                    </td>
                                    <td>
                                        <input style="width:100%; padding:2px;;" ng-model="item.newitem.target" maxlength="10">
                                    </td>
                                    <td>
                                        <input style="width:100%; padding:2px;" ng-model="item.newitem.maxteacher" maxlength="10">
                                    </td>
                                    <td>
                                        <input style="width:100%; padding:2px;" ng-model="item.newitem.ratio" maxlength="10">
                                    </td>
                                    <td>
                                        <div>
                                            <datepicker date-format="dd/MM/yyyy">
                                                <input style="width:100%; padding:2px;" ng-model="item.newitem.date" type="text" style="float: left" />
                                            </datepicker>
                                        </div>
                
                                    </td>
                                    <td>
                                        <input ng-model="item.newitem.options" style="width:100%; padding:2px; word-wrap: break-word;" maxlength="200">
                                    </td>
                                    <td>
                                        <div style="display:flex; flex-direction:row;">
                                            <input ng-model="item.newitem.timestart" style="width:40%; padding:2px; margin: 2px;" maxlength="5">
                                            <span> - </span>
                                            <input ng-model="item.newitem.timeend" style="width:40%; padding:2px; margin: 2px;" maxlength="5">
                                        </div>
                                    </td>
                                </tr>
                            
                        </table>
                    </td>
                </tr>
<!--
<tr ng-repeat-end class="table-active" ng-show="item.show">
                    <td colspan="3">
                        <span ng-show="showerror">
                            Not valid input
                        </span>
                    </td>
                    <td>
                        <button class="btn" style="float:right; padding:1px; margin:0;font-size:2px; background-color: transparent; border-color: green; color:green"
                            ng-click="addData(item)">確認</button>

                        </td>
                        <td>
                            <input style="width:100%; padding:2px;;" ng-model="item.newitem.target" maxlength="10">
                        </td>
                        <td>
                            <input style="width:100%; padding:2px;" ng-model="item.newitem.maxteacher" maxlength="10">
                        </td>
                        <td>
                            <input style="width:100%; padding:2px;" ng-model="item.newitem.ratio" maxlength="10">
                        </td>
                        <td>
                            <div>
                                <datepicker date-format="dd/MM/yyyy">
                                    <input style="width:100%; padding:2px;" ng-model="item.newitem.date" type="text" style="float: left" />
                                </datepicker>
                            </div>
    
                        </td>
                        <td>
                            <input ng-model="item.newitem.options" style="width:100%; padding:2px; word-wrap: break-word;" maxlength="200">
                        </td>
                        <td>
                            <div style="display:flex; flex-direction:row;">
                                <input ng-model="item.newitem.timestart" style="width:40%; padding:2px; margin: 2px;" maxlength="5">
                                <span> - </span>
                                <input ng-model="item.newitem.timeend" style="width:40%; padding:2px; margin: 2px;" maxlength="5">
                            </div>
                        </td>
                    </tr>

-->
                



                <tr class="table-active" ng-show="showNewItemForm">
                    <td ng-bind="selectedItem.organization"></td>
                    <td ng-bind="selectedItem.No"></td>
                    <td>
                        <div>
                            <span style="float:left;" ng-bind="selectedItem.activity"></span>
                        </div>
                    </td>
                    <td>
                        <button class="btn" style="float:right; padding:1px; margin:0;font-size:2px; background-color: transparent; border-color: green; color:green"
                            ng-click="addData2()">確認</button>

                        <!--
                                            <button type="button" style="float:right; background-color: transparent; border: none;" ng-click="addData2()">
                                                <i class="fa fa-plus fa-xs"></i>
                                            </button>
                    
                                                -->

                    </td>
                    <td>

                        <input style="width:100%; padding:2px;;" ng-model="newitem.target" maxlength="10">
                    </td>
                    <td>
                        <input style="width:100%; padding:2px;" ng-model="newitem.maxteacher" maxlength="10">
                    </td>
                    <td>
                        <input style="width:100%; padding:2px;" ng-model="newitem.ratio" maxlength="10">
                    </td>
                    <td>
                        <div>
                            <datepicker date-format="dd/MM/yyyy">
                                <input style="width:100%; padding:2px;" ng-model="newitem.date" type="text" style="float: left" />
                            </datepicker>
                        </div>

                    </td>
                    <td>
                        <input ng-model="newitem.options" style="width:100%; padding:2px; word-wrap: break-word;" maxlength="200">
                    </td>
                    <td>
                        <div style="display:flex; flex-direction:row;">
                            <input ng-model="newitem.timestart" style="width:40%; padding:2px; margin: 2px;" maxlength="5">
                            <span> - </span>
                            <input ng-model="newitem.timeend" style="width:40%; padding:2px; margin: 2px;" maxlength="5">
                        </div>
                    </td>

                </tr>
                <tr class="table-active" ng-show="!userstatus">
                    <td colspan="3">
                        <select style="width:100%;" ng-model="selectedItem" ng-change="changelog(selectedItem)" data-ng-options="selectedItem as selectedItem.value for selectedItem in list">
                            <option value=""></option>
                        </select>
                    </td>
                    <td>
                        <button type="button" style="float:right; background-color: transparent; border: none;" ng-click="addNewItem()">
                            <i class="fa fa-plus fa-xs"></i>
                        </button>


                    </td>
                    <td colspan="6">
                        <span style="color:red" ng-bind="errormessage"></span>
                    </td>
                </tr>

            </table>

            <div>
                <button class="btn" style="background-color: transparent; color: green; border-color: green;" ng-click="submit()" ng-disabled="userstatus">提交</button>
                <button class="btn" style="background-color: transparent; border-color:black;" ng-click="cancel()">取消</button>
                <label ng-show="userstatus">您已經提交過申請，如果需要更改請聯繫管理員。</label>
            </div>

        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js'></script>

    <script>
        var app = angular.module("userModel", ['ngCookies', '720kb.datepicker']);
        app.controller("itemlistController", function ($scope, $http, $window, $cookies) {
            var uid = $cookies.get("uid");
            $scope.itemlist = [];
            $scope.list = [];
            $scope.showNewItem = false;
            $scope.selectedItem = null;
            $scope.errormessage = "";
            $http.get('/title').then(function (response) {
                // console.log(response);
                if (response.data.feedback === 'Success') {
                    $scope.activetitle = response.data.value;
                    $scope.activenumber = response.data.number;
                    $scope.activedownload = response.data.download.split(',');

                    if (response.data.status != undefined) {
                        if (response.data.status !== true) {
                            $http.post('/users/logout', {})
                                .then(function logoutSuccess(response) {
                                    // console.log(response);
                                    $cookies.remove('uid');
                                    $window.location.href = "/warning.html"
                                });
                        }
                    }
                }
                else {
                    $scope.activetitle = "";
                }
            });
            $http.post("/admin/user/detail/" + uid, [])
                .then(function (response) {
                    if (response.data.feedback === 'Failure' || response.data.data === null) {
                        $window.location.href = '/login.html';
                    }
                    // console.log(response);
                    $scope.user = response.data.data;

                    $http.post("/itemlistdata", {})
                        .then(function (response) {
                            if (response.data.feedback === 'Failure') {
                                $window.location.href = '/login.html';
                            }
                            $scope.list = response.data.itemlist;
                            for (idx in $scope.list) {
                                $scope.list[idx].value = $scope.list[idx].organization + " " + $scope.list[idx].No + " " + $scope.list[idx].activity;
                                $scope.list[idx].modified = false;
                                if ($scope.list[idx].data == undefined) {
                                    $scope.list[idx].data = [];
                                }
                            }
                            $scope.itemlist = $scope.refreshItemList();
                        });
                });

            $http.post("/comment/" + uid, {})
                .then(function (response) {
                    $scope.comment = response.data.comment;
                    $scope.email = response.data.email;
                    $scope.userstatus = !(response.data.status === 'active');
                });
            $scope.download = function (index) {
                if (index === 1) {
                    $window.open("/resourcenew/application.pdf");
                }
                else if (index == 2) {
                    $window.open("/resourcenew/letter.pdf");
                }
                else if (index == 3) {
                    $window.open("/resourcenew/info.pdf")
                }
                else if (index == 4) {
                    $window.open("/resourcenew/timetable.pdf")
                }
            }
            $scope.showdetail = function (item) {
                if (!$scope.userstatus) {
                    item.show = !item.show
                    // initialize new item
                    item.newitem = {
                        target: "",
                        maxteacher: "",
                        ratio: "",
                        date: "",
                        options: "",
                        timestart: "",
                        timeend: "",
                        user: "",
                        show: false,
                    };
                    item.modified = true;
                    item.showerror = false;
                }
            }

            $scope.cancel = function () {
                $window.history.back();
            }
            $scope.showProfile = function () {
                $window.location.href = "/profile.html?" + uid;
            }
            $scope.showItemlist = function () {
                $window.location.href = "/itemlist.html";
            }
            $scope.refreshItemList = function () {
                var itemlist = [];
                for (idx in $scope.list) {

                    var hasUser = false;
                    for (i in $scope.list[idx].data) {
                        if ($scope.list[idx].data[i].user === uid) {
                            hasUser = true;
                        }
                    }
                    if (hasUser == true) {
                        var item = {
                            _id: $scope.list[idx]._id,
                            organization: $scope.list[idx].organization,
                            No: $scope.list[idx].No,
                            activity: $scope.list[idx].activity,
                            show: false,
                            data: [],
                        };
                        for (i in $scope.list[idx].data) {
                            if ($scope.list[idx].data[i].user == uid) {
                                item.data.push($scope.list[idx].data[i]);
                            }
                        }
                        itemlist.push(item);

                    }
                }
                return itemlist;
            }

            $scope.submit = function () {
                // console.log("click submit");
                var items = [];
                for (i in $scope.list) {
                    var item = $scope.list[i];
                    if (item.modified == true) {
                        items.push({ _id: item._id, data: item.data });
                    }
                }
                if ($scope.comment == undefined) {
                    $scope.comment = "";
                }
                // post to server
                $http.post('/updateselection/' + uid, { items: items, comment: $scope.comment, email: $scope.email })
                    .then(function (response) {
                        if (response.data.feedback === 'Success') {
                            $window.location.href = '/itemlist.html';
                        }
                        else {
                            // console.log('Fail');
                        }
                    });
            };

            $scope.addNewItem = function () {

                // check selection
                if ($scope.selectedItem == null) {
                    $scope.errormessage = "請選擇一個選項";
                }
                else {
                    $scope.errormessage = "";
                    $scope.showNewItem = !$scope.showNewItem;

                    $scope.newitem = {
                        target: "",
                        maxteacher: "",
                        ratio: "",
                        date: "",
                        options: "",
                        timestart: "",
                        timeend: "",
                        user: "",
                    }
                    $scope.showNewItemForm = !$scope.showNewItemForm;
                }

            }
            $scope.addData2 = function () {
                // check input format
                if ($scope.checkInput($scope.newitem)) {
                    var idx = -1;
                    for (i in $scope.list) {
                        if ($scope.list[i]._id == $scope.selectedItem._id) {
                            idx = i;
                        }
                    }
                    if (idx > -1 && idx < $scope.list.length) {
                        $scope.newitem.user = uid;
                        $scope.list[idx].data.push($scope.newitem);
                        $scope.list[idx].modified = true;

                        // add input into showing info
                        $scope.itemlist = $scope.refreshItemList();
                        /*
                        var idxs = -1;
                        for (i in $scope.itemlist) {
                            if ($scope.itemlist[i]._id == $scope.selectedItem._id) {
                                idxs = i;
                            }
                        }
                        if (idxs > -1 && idxs < $scope.itemlist.length) {
                            $scope.itemlist[idxs].data.push($scope.newitem);
                        }
                        else {
                            $scope.itemlist.push($scope.list[idx]);
                        }
                        */

                        // return to initial state
                        $scope.showNewItemForm = false;
                        $scope.selectedItem = null;

                    }

                    $scope.errormessage = "";
                }
                else {
                    $scope.errormessage = "輸入無效";
                }
            };

            $scope.addData = function (item) {
                // check input format
                if ($scope.checkInput(item.newitem)) {
                    var idx = -1;
                    for (i in $scope.list) {
                        if ($scope.list[i]._id == item._id) {
                            idx = i;
                        }
                    }
                    item.newitem.user = uid;
                    item.newitem.show = true;
                    $scope.list[idx].data.push(item.newitem);
                    $scope.list[idx].modified = true;
                    console.log($scope.list[idx]);
                    $scope.itemlist = $scope.refreshItemList();
                    $scope.showdetail(item);
                }
                else {
                    item.showerror = true;
                    $scope.showdetail(item);
                }
            }

            $scope.deleteTimestep = function (item, t) {
                var index = item.data.indexOf(t);
                if (index > -1) {
                    item.data.splice(index, 1);
                }
                var indexs = -1;
                for (i in $scope.list) {
                    if (item._id == $scope.list[i]._id) {
                        indexs = i;
                    }
                }
                if (indexs > -1) {
                    $scope.list[indexs].data.splice(index, 1);
                    $scope.list[indexs].modified = true;
                }
                $scope.itemlist = $scope.refreshItemList();

            }
            $scope.downloadFile = function () {
                $window.open("/download/" + uid);
            }
            $scope.Logout = function () {
                $http.post('/users/logout', {})
                    .then(function logoutSuccess(response) {
                        // console.log(response);
                        $cookies.remove('uid');
                        $window.location.href = '/';
                    });
            };
            $scope.checkInput = function (item) {
                var reg = /^[a-zA-Z0-9-:,.，。()（）/ \u4E00-\u9FCC][a-zA-Z0-9-:,.，。()（）/ \u4E00-\u9FCC]*$/;
                var numreg = /^[0-9.:][0-9.:]*$/;
                if (!item.target.match(reg)) {
                    return false;
                }
                if (!item.maxteacher.match(numreg)) {
                    return false;
                }
                if (!item.ratio.match(numreg)) {
                    return false;
                }
                if (!item.options.match(reg)) {
                    return false;
                }
                if (!item.timestart.match(numreg)) {
                    return false;
                }
                if (!item.timeend.match(numreg)) {
                    return false;
                }
                if (item.date === "") {
                    return false;
                }
                return true;
            };
        })
            .directive('specialCharDirective', function () {
                function link(scope, elem, attrs, ngModel) {
                    ngModel.$parsers.push(function (viewValue) {
                        var reg = /^[a-zA-Z0-9]*$/;
                        if (viewValue.match(reg)) {
                            return viewValue;
                        }
                        var transformedValue = ngModel.$modelValue;
                        ngModel.$setViewValue(transformedValue);
                        ngModel.$render();
                        return transformedValue;
                    });
                }

                return {
                    restrict: 'A',
                    require: 'ngModel',
                    link: link
                };
            });
    </script>
    <script src="/css/src/js/angular-datepicker.js"></script>

</body>

</html>