<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>
</head>
<body>
<div ng-app="userModel" ng-controller="myCtrl" align="center" border="0" width="300" cellpadding="2">
    <div >
        <h1>Login</h1>
        <input id='username' ng-model='username' placeholder='Input your name' special-char-directive required/>
        <br>
        <br>
        <input id='password' ng-model='password' placeholder='Input your password' special-char-directive required/>
        <br>
        <br>
        <button class="btn btn-success" ng-click='submit()'>Submits</button>
        <button class="btn btn-default" ng-click='cancel()'>Cancel</button>
    </div>
</div>

<script>
var app = angular.module('userModel', ['ngCookies']);
app.controller('myCtrl', function($scope, $http, $window, $cookies) {
    $scope.submit = function submit() {
        console.log('click submit');
        $http.post('/users/login', {
            type: 'user',
            name: $scope.username,
            password: $scope.password
        }).then(function submitSuccess(response) {
            console.log(response);
            if (response.data.feedback === 'Success') {
                $window.location.href = '/';
                $cookies.put('uid', response.data._id);
            }
        });
    }
    $scope.cancel = function cancel() {
        console.log('click cancel');
        $scope.username = '';
        $scope.password = '';
    }
})
.directive('specialCharDirective', function() {
    function link(scope, elem, attrs, ngModel) {
        ngModel.$parsers.push(function(viewValue) {
            var reg = /^[a-zA-Z0-9]*$/;
            if (viewValue.match(reg)) {
                return viewValue;
            }
            var transformedValue = ngModel.$modelValue;
            ngModel.$setViewValue(transformedValue);
            ngModel.$render();
            return transformedValue;
        });
    }

    return {
        restrict: 'A',
        require: 'ngModel',
        link: link
    };
});

</script>

</body>
</html>
